<span id="js_enable"><strong>Note: <em>JavaScript</em> is required for this page to function properly. Please enable scripts to continue.</strong><br><br></span>
<table id="cable-builder" class="fleft third-width">
	<thead>
		<th class="large left row-header"><h4>Your Cables</h4></th>
	</thead>
	<tbody class="no_border">
		<tr id="cable-adder">
			<td class="center">
				<button id="cable-button" class="button">Add Cable</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr><td>
			<span class="fleft large">Total</span>
			<span id="quote-total" class="fright large">$0.00</span>
		</td></tr>
	</tfoot>
</table>

<script type="text/javascript">
	// Hide 'Enable JavaScript' notification if JS is enabled
	document.getElementById('js_enable').style.display='none';
</script>
