<form action="#" method="post" accept-charset="utf-8">
	<?php // Table 1: Ground/Jumper, Gauge, Length, Jacket Color, Insulation Rating (optional) ?>
	<table class="full-width">
		<thead>
			<tr>
				<th id="cable_header" colspan="6" class="large row-header center">Cable Information</th>
			</tr><tr>
				<th class="sub-header">Cable Type</th>
				<th class="sub-header">American Wire Gauge</th>
				<th id="th_cable_length" class="sub-header"><?php echo ($is_cluster ? 'Tail' : 'Cable'); ?> Length (feet)</th>
				<th id="th_phase_length" class="sub-header<?php echo ($is_cluster ? '' : ' require_js_show'); ?>">Phase Length</th>
				<th class="sub-header">Jacket Color</th>
				<th class="sub-header">Jacket kV (Jumpers)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="center">
					<select id="cable_type" name="ground[type]" class="input" onchange="change_cable()">
					<?php foreach ($cable_types as $i => $ct) { ?>
						<option value="<?php echo $i; ?>"<?php echo ($ground_type === $i ? ' selected="selected"' : ''); ?>><?php echo cleanInput($ct); ?></option>
					<?php } ?>
					</select><div id="cable_error" class="error"></div>
				</td><td class="center">
					<select name="ground[gauge]" class="input">
						<?php foreach ($gauges as $awg) { ?>
							<option value="<?php echo cleanInput($awg); ?>"<?php echo ($ground_gauge === $awg ? ' selected="selected"' : ''); ?>><?php echo ($awg < 0 ? -$awg . '/0' : '#' . $awg); ?></option>
						<?php } ?>
					</select>
				</td><td id="td_cable_length" class="center">
					<input type="number" name="ground[length]" class="ninety-width centered<?php echo (empty($errors['length']) ? '' : ' error'); ?>" value="<?php echo (empty($length) ? '' : cleanInput($length)); ?>" min="0" />
					<?php if (!empty($errors['length'])) { ?>
						<br><span class="error">*&nbsp;<?php echo $errors['length']; ?></span>
					<?php } ?>
				</td><td id="td_phase_length" class="center<?php echo ($is_cluster ? '' : ' require_js_show'); ?>">
					<input type="number" name="ground[phase_length]" class="ninety-width centered<?php echo (empty($errors['phase_length']) ? '' : ' error'); ?>" value="<?php echo (empty($phase_length) ? '' : cleanInput($phase_length)); ?>" min="1" />
					<?php if (!empty($errors['phase_length'])) { ?>
						<br><span class="error">*&nbsp;<?php echo $errors['phase_length']; ?></span>
					<?php } ?>
				</td><td class="center">
					<select id="color_id" name="ground[color_id]" class="input" onchange="change_cable()">
						<?php foreach ($colors as $id => $color) { ?>
							<option value="<?php echo cleanInput($id); ?>"<?php echo ($color_id === $id ? ' selected="selected"' : ''); ?>><?php echo cleanInput($color); ?></option>
						<?php } ?>
					</select>
				</td><td class="center">
					<select id="jacket_kv" name="ground[jacket_kv]" class="input" onchange="change_cable()">
						<option value="0"<?php echo (empty($jacket_kv) ? ' selected="selected"' : ''); ?>>N/A</option>
						<?php foreach ($jacket_kvs as $kv) { ?>
							<option value="<?php echo cleanInput($kv); ?>"<?php echo ($jacket_kv === $kv ? ' selected="selected"' : ''); ?>><?php echo cleanInput($kv); ?> kV</option>
						<?php } ?>
					</select>
				</td>
			</tr>
			<?php if (!empty($errors['ground'])) { ?>
				<tr><th colspan="5" class="full-width left"><span class="large error">*&nbsp;<?php echo $errors['ground']; ?></span></th></tr>
			<?php } ?>
		</tbody>
	</table>
	<?php // Table 2: Clamps - Style, Size, Ferrule Type, kV Rating (required for Elbows, NULL for all others) ?>
	<table class="full-width">
		<thead>
			<tr>
				<th colspan="5" class="large row-header center">Select Clamps</th>
			</tr><tr>
				<td colspan="5" class="left">
					<span>If you require a clamp model or manufacturer other than the one shown for your current selection, please select <strong>Other</strong> and include the exact specifications in the notes.</span>
					<span id="js_enable"><br><br><strong>Enabling <em>JavaScript</em> on this page will provide information about each clamp as you select it, as well as instant feedback on invalid combinations.</strong></span>
				</td>
			</tr><tr>
				<th class="sub-header">#</th>
				<th class="sub-header">Style</th>
				<th class="sub-header">Size</th>
				<th class="sub-header">Ferrule Type</th>
				<th class="sub-header">kV Rating</th>
			</tr>
		</thead>
		<tbody>
			<?php for ($i = 1; $i < 3; ++$i) { ?>
				<?php $c = 'Clamp ' . $i; ?>
				<?php if ($is_cluster) { ?>
					<?php $c = ($i === 1 ? 'Tail Clamp' : 'Phase Clamps'); ?>
				<?php } ?>
				<?php $style_id = (empty($clamps[$i]['style_id']) ? 0 : $clamps[$i]['style_id']); ?>
				<?php $size = (empty($clamps[$i]['is_large']) ? 0 : $clamps[$i]['is_large']); ?>
				<?php $style_link = (empty($clamps[$i]['url']) ? (empty($stock_clamps[1]) ? '' : $stock_clamps[1]) : $clamps[$i]['url']); ?>
				<tr>
					<th id="clamp_desc_<?php echo $i; ?>" class="sub-header medium"><?php echo $c; ?></th>
					<td>
						<select id="select_style_<?php echo $i; ?>" name="clamp[<?php echo $i; ?>][style_id]" class="input center full-width" onchange="change_style_desc(<?php echo $i; ?>)">
							<?php foreach ($styles as $id => $style) { ?>
								<option value="<?php echo cleanInput($id); ?>"<?php echo ($style_id && $style_id === $id ? ' selected="selected"' : ''); ?>><?php echo cleanInput($style); ?></option>
							<?php } ?>
						</select>
						<div id="style_desc_<?php echo $i; ?>" class="medium"><?php echo $style_link; ?></div>
					</td><td class="center">
						<select id="select_size_<?php echo $i; ?>" name="clamp[<?php echo $i; ?>][is_large]" class="input full-width" onchange="change_style_desc(<?php echo $i; ?>)">
							<option id="opt_size0_<?php echo $i; ?>" value="0"<?php echo($size === 0 ? ' selected="selected"' : ''); ?>><?php echo ($style_id < 5 || $style_id === 11 ? 'Small' : ($style_id === 10 ? 'Shrouded' : 'Regular')); ?></option>
							<option id="opt_size1_<?php echo $i; ?>" value="1"<?php echo ($size === 1 ? ' selected="selected"' : ''); ?>><?php echo ($style_id !== 10 ? 'Large' : 'Unshrouded'); ?></option>
						</select>
					</td><td class="center">
						<select id="select_type_<?php echo $i; ?>" name="clamp[<?php echo $i; ?>][type]" class="input full-width" onchange="change_style_desc(<?php echo $i; ?>)">
							<option value="1"<?php echo (!isset($clamps[$i]['type']) || $clamps[$i]['type'] === 1 ? ' selected="selected"' : ''); ?>>Threaded</option>
							<option value="0"<?php echo (isset($clamps[$i]['type']) && $clamps[$i]['type'] === 0 ? ' selected="selected"' : ''); ?>>Pin</option>
						</select>
					</td><td class="center">
						<select id="select_kv_<?php echo $i; ?>" name="clamp[<?php echo $i; ?>][kv]" class="input full-width" onchange="change_style_desc(<?php echo $i; ?>)">
							<?php $kv = (isset($clamps[$i]['kv']) ? filter_var($clamps[$i]['kv'], FILTER_VALIDATE_INT) : 0); ?>
							<option value="0"<?php echo (empty($kv) ? ' selected="selected"' : ''); ?>>N/A</option>
							<option value="15"<?php echo ($kv === 15 ? ' selected="selected"' : ''); ?>>15 kV</option>
							<option value="25"<?php echo ($kv === 25 ? ' selected="selected"' : ''); ?>>25 kV</option>
							<option value="35"<?php echo ($kv === 35 ? ' selected="selected"' : ''); ?>>35 kV</option>
						</select>
					</td>
				</tr>
				<?php if (!empty($errors['clamp'][$i])) { ?>
					<tr><th colspan="5" class="full-width left"><span class="large error">*&nbsp;<?php echo $errors['clamp'][$i]; ?></span></th></tr>
				<?php } ?>
			<?php } ?>
		</tbody>
	</table>
	<br>
	<h3>Quantity</h3>
	<div class="fleft full-width">
		<span class="large help-block">Enter the number of identical cables needed</span>
		<br>
		<input type="number" name="qty" class="centered<?php echo (empty($errors['qty']) ? '' : ' error'); ?>" value="<?php echo (filter_input(INPUT_POST, 'qty', FILTER_VALIDATE_INT)); ?>" min="0" />
		<?php if (!empty($errors['qty'])) { ?>
			<br><span class="error">*&nbsp;<?php echo $errors['qty']; ?></span>
		<?php } ?>
	</div>
	<div class="clear"></div>
</form>
<script type="text/javascript">
	// Hide 'Enable JavaScript' notification if JS is enabled
	document.getElementById('js_enable').style.display='none';

	function change_cable() {
		var cable = +document.getElementById("cable_type").value;
		var kv = +document.getElementById("jacket_kv").value;
		var color_id = +document.getElementById("color_id").value;
		var is_jumper = (cable % 2) === 1;
		if (!is_jumper && kv !== 0) {
			document.getElementById("cable_error").innerHTML = "Grounds do not have a kV rating";
		} else if (is_jumper && kv === 0) {
			document.getElementById("cable_error").innerHTML = "Jumpers require a kV rating";
		} else if (is_jumper && color_id === 1) {
			document.getElementById("cable_error").innerHTML = "Jumpers not available with clear jackets";
		} else {
			document.getElementById("cable_error").innerHTML = "";
		}
		if (cable > 1) {
			document.getElementById('cable_header').setAttribute('colspan', 6);
			document.getElementById('th_cable_length').innerHTML = "Tail Length (feet)";
			document.getElementById('th_phase_length').style.display='table-cell';
			document.getElementById('td_phase_length').style.display='table-cell';
			document.getElementById('clamp_desc_1').innerHTML = "Tail Clamp";
			document.getElementById('clamp_desc_2').innerHTML = "Phase Clamps";
		} else {
			document.getElementById('cable_header').setAttribute('colspan', 5);
			document.getElementById('th_cable_length').innerHTML = "Cable Length (feet)";
			document.getElementById('th_phase_length').style.display='none';
			document.getElementById('td_phase_length').style.display='none';
			document.getElementById('clamp_desc_1').innerHTML = "Clamp 1";
			document.getElementById('clamp_desc_2').innerHTML = "Clamp 2";
		}
	}
	
	function change_style_desc(i) {
		<?php printf('var clamps = %s;', json_encode($stock_clamps)) ?>
		// Unary '+' forces value into integer format
		var style = +document.getElementById("select_style_" + i).value;
		var index = style + (+document.getElementById("select_size_" + i).value * 16) + (+document.getElementById("select_type_" + i).value * 32);
		var kv = +document.getElementById("select_kv_" + i).value
		if (kv !== 0 || style === 4 || style === 9) {
			if (style !== 4 && style !== 9) {
				document.getElementById("style_desc_" + i).innerHTML = '<span class="error">This style cannot have a kV rating</span>';
			} else if (kv === 0) {
				document.getElementById("style_desc_" + i).innerHTML = '<span class="error">Select a kV rating</span>';
			} else if (clamps[index] === undefined) {
				document.getElementById("style_desc_" + i).innerHTML = '<span class="error">Invalid combination</span>';
			} else if (clamps[index][kv] === undefined) {
				document.getElementById("style_desc_" + i).innerHTML = '<span class="error">Invalid combination</span>';
			} else {
				document.getElementById("style_desc_" + i).innerHTML = clamps[index][kv];
			}
		} else {
			if (clamps[index] !== undefined) {
				document.getElementById("style_desc_" + i).innerHTML = clamps[index];
			} else {
				document.getElementById("style_desc_" + i).innerHTML = '<span class="error">Invalid combination</span>';
			}
		}
		if (style === 10) {
			document.getElementById("opt_size0_" + i).text = 'Shrouded';
			document.getElementById("opt_size1_" + i).text = 'Unshrouded';
		} else if (style > 4 && style < 11) {
			document.getElementById("opt_size0_" + i).text = 'Regular';
			document.getElementById("opt_size1_" + i).text = 'Large';
			if (+document.getElementById("select_size_" + i).value > 0) {
				document.getElementById("style_desc_" + i).innerHTML = '<span class="error">Style only comes in size \'Regular\'</span>';
			}
		} else {
			document.getElementById("opt_size0_" + i).text = 'Small';
			document.getElementById("opt_size1_" + i).text = 'Large';
		}
	}
</script>
